/*====================================================
JUEGOS DEPORTIVOS 2026
STYLE.CSS
====================================================*/


*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}


html,
body{

    width:100%;
    height:100%;

}


body{

    overflow:hidden;

    font-family:'Montserrat',sans-serif;

    background:#000;

    color:white;

}





/*====================================================
VIDEO
====================================================*/


#background{

    position:fixed;

    inset:0;

    overflow:hidden;

    z-index:1;

}


#stadiumVideo{

    width:100%;

    height:100%;

    object-fit:cover;

    animation:cameraMove 20s ease-in-out infinite alternate;

}





/*====================================================
CAPAS
====================================================*/


#overlay{

    position:fixed;

    inset:0;

    z-index:2;

    background:

    linear-gradient(

    rgba(0,0,0,.15),

    rgba(0,0,0,.45),

    rgba(0,0,0,.85)

    );

}



#vignette{

    position:fixed;

    inset:0;

    z-index:3;

    pointer-events:none;

    background:

    radial-gradient(

    circle,

    transparent 30%,

    rgba(0,0,0,.85)

    );

}



#fog{

    position:fixed;

    inset:0;

    z-index:5;

    pointer-events:none;

    overflow:hidden;

}


#fog::before{

    content:"";

    position:absolute;

    width:220%;

    height:220%;

    left:-60%;

    bottom:-50%;

    background:

    radial-gradient(

    circle,

    rgba(255,255,255,.12),

    transparent 60%

    );

    filter:blur(90px);

    animation:fogMove 20s infinite alternate;

}





/*====================================================
LUCES
====================================================*/


#lights{

    position:fixed;

    inset:0;

    z-index:4;

    pointer-events:none;

}


.beam{

    position:absolute;

    width:600px;

    height:180vh;

    opacity:.18;

    filter:blur(35px);

    background:

    linear-gradient(

    white,

    transparent

    );

}



.beamLeft{

    left:-150px;

    top:-30%;

    transform:rotate(-35deg);

    animation:beamLeft 10s infinite alternate;

}



.beamRight{

    right:-150px;

    top:-30%;

    transform:rotate(35deg);

    animation:beamRight 12s infinite alternate;

}





/*====================================================
PARTICULAS
====================================================*/


#particles{

    position:fixed;

    inset:0;

    z-index:8;

    pointer-events:none;

}



.particle{

    position:absolute;

    border-radius:50%;

    background:white;

    box-shadow:

    0 0 10px cyan;

    animation:particleFloat linear infinite;

}





/*====================================================
BALONES
====================================================*/


#balls{

    position:fixed;

    inset:0;

    z-index:15;

    pointer-events:none;

}


.ball{

    position:absolute;

    width:90px;

    filter:drop-shadow(0 0 25px rgba(255,255,255,.5));

    transition:
        left 10s linear,
        top 10s linear;

    will-change:left, top, transform;

}



.football{

    left:5%;

    bottom:12%;

   

}



.basketball{

    right:8%;

    top:12%;

  

}



.volleyball{

    right:20%;

    bottom:10%;


}





/*====================================================
ESCENA 1
====================================================*/


#scene1{

    position:relative;

    z-index:20;

    width:100%;

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

}



.content{

    display:flex;

    flex-direction:column;

    align-items:center;

}





#logo{

    width:135px;

    margin-bottom:30px;

    animation:

    logoEnter 1.5s forwards,

    logoGlow 4s infinite;

}





.title{

    display:flex;

    flex-direction:column;

}



.title span{

    opacity:0;

    font-family:'Bebas Neue';

    letter-spacing:5px;

    line-height:.9;

    text-shadow:

    0 0 15px #00AEEF,

    0 0 40px #008cff;

}



.title span:nth-child(1){

    font-size:55px;

    animation:titleIn .8s forwards .7s;

}



.title span:nth-child(2){

    font-size:90px;

    animation:titleIn .8s forwards 1.3s;

}



.title span:nth-child(3){

    font-size:50px;

    animation:titleIn .8s forwards 2s;

}



.title span:nth-child(4){

    font-size:82px;

    animation:titleIn .8s forwards 2.7s;

}





.subtitle{

    margin-top:20px;

    font-size:20px;

    letter-spacing:4px;

    opacity:0;

    animation:fadeIn 1s forwards 3.5s;

}





/*====================================================
BOTON
====================================================*/


#startButton,
#continueButton{

    margin-top:50px;

    width:330px;

    height:72px;

    border:none;

    border-radius:30px;

    cursor:pointer;

    color:white;

    font-size:26px;

    font-weight:1000;

    background:

    linear-gradient(

    90deg,

    #0099ff,

    #00eaff

    );

    box-shadow:

    0 0 35px cyan;

}



#startButton{

    opacity:0;

    animation:

    buttonIn 1s forwards 4.2s,

    pulseButton 2.5s infinite 5s;

}




/*====================================================
ESCENA 2
====================================================*/


.hidden{

    display:none!important;

}



#scene2{

    position:fixed;

    inset:0;

    z-index:100;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#000;

}



#counterNumber{

    font-family:'Bebas Neue';

    font-size:220px;

    text-shadow:

    0 0 40px cyan;

}





/*====================================================
GO
====================================================*/


#sceneGO{

    position:fixed;

    inset:0;

    z-index:150;

    display:flex;

    justify-content:center;

    align-items:center;

    background:black;

}



#goText{

    font-family:'Bebas Neue';

    font-size:250px;

    color:white;

    text-shadow:

    0 0 30px cyan,

    0 0 80px blue;

    animation:goImpact 1s;

}





/*====================================================
ESCENA 3
====================================================*/


#scene3{

    position:fixed;

    inset:0;

    z-index:200;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    background:

    radial-gradient(

    circle,

    rgba(0,174,239,.25),

    rgba(0,0,0,.95)

    );

}



.invitation{

    display:flex;

    flex-direction:column;

    align-items:center;

    animation:sceneEnter 1.5s ease;

}



.scene3Logo{

    width:160px;

    filter:

    drop-shadow(0 0 40px cyan);

}



#scene3 h1{

    margin-top:20px;

    font-family:'Bebas Neue';

    font-size:80px;

    letter-spacing:8px;

    line-height:.9;

    text-shadow:

    0 0 20px cyan;

}



.line{

    width:250px;

    height:3px;

    background:white;

    margin:25px;

}



#scene3 p{

    font-size:25px;

}



.message{

    margin-top:25px;

    max-width:700px;

    color:#ddd;

    font-size:18px!important;

}





/*====================================================
FLASH
====================================================*/


#flash{

    position:fixed;

    inset:0;

    background:white;

    opacity:0;

    z-index:999;

    pointer-events:none;

}



.flashAnimation{

    animation:flash .45s;

}





/*====================================================
ANIMACIONES
====================================================*/


@keyframes cameraMove{

from{

transform:scale(1);

}

to{

transform:scale(1.08);

}

}



@keyframes fogMove{

from{

transform:translateX(-50px);

}

to{

transform:translateX(50px);

}

}



@keyframes beamLeft{

to{

transform:rotate(-15deg) translateX(100px);

}

}



@keyframes beamRight{

to{

transform:rotate(15deg) translateX(-100px);

}

}



@keyframes logoEnter{

from{

opacity:0;

transform:translateY(-70px) scale(.5);

}

to{

opacity:1;

transform:none;

}

}



@keyframes logoGlow{

50%{

filter:drop-shadow(0 0 50px cyan);

}

}



@keyframes titleIn{

to{

opacity:1;

transform:none;

}

}



@keyframes fadeIn{

to{

opacity:1;

}

}



@keyframes buttonIn{

to{

opacity:1;

}

}



@keyframes pulseButton{

50%{

transform:scale(1.05);

}

}



@keyframes goImpact{

0%{

transform:scale(5);

opacity:0;

}

60%{

transform:scale(.8);

}

100%{

transform:scale(1);

opacity:1;

}

}



@keyframes sceneEnter{

from{

opacity:0;

transform:scale(.5);

}

to{

opacity:1;

transform:scale(1);

}

}



@keyframes flash{

50%{

opacity:1;

}

}





@keyframes footballFloat{

50%{

transform:translateY(-40px) rotate(15deg);

}

}



@keyframes basketFloat{

to{

transform:rotate(360deg);

}

}



@keyframes volleyFloat{

50%{

transform:translateY(-40px);

}

}



@keyframes particleFloat{

to{

transform:translateY(-200px);

opacity:0;

}

}





/*====================================================
RESPONSIVE
====================================================*/


@media(max-width:768px){


#logo{

width:95px;

}


.title span:nth-child(2){

font-size:60px;

}


.title span:nth-child(4){

font-size:55px;

}


.ball{

width:60px;

}


#counterNumber{

font-size:140px;

}



#goText{

font-size:150px;

}



#scene3 h1{

font-size:50px;

}


.scene3Logo{

width:110px;

}


#scene3 p{

font-size:18px;

}


#startButton,
#continueButton{

width:270px;

height:60px;

font-size:20px;

}


}
/*====================================================
ESCENA 4 - MENU DE TALENTOS
====================================================*/
/*====================================================
ESCENA 4
====================================================*/

#scene4{
    position:fixed;
    inset:0;
    width:50%; /*====================================================*/
    height:50vh; /*====================================================*/
    overflow:hidden;
    z-index:250;
}

.scene4Background{
    position:absolute;
    inset:0;
    background:url("../assets/images/fondo_talentos.webp") center/contain no-repeat;
    z-index:1;
}

/* Fondo mucho más claro */

#scene4::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.08);
    z-index:2;
}

.talentMenu{
    position:relative;
    width:100%;
    height:100%;
    z-index:5;
}

/* ocultar titulo y subtitulo */

.talentMenu h1,
.talentMenu p{
    display:none;
}

/*====================================================
BOTONES
====================================================*/

.talentGrid{
    position:relative;
    width:100%;
    height:100%;
}

.talentCard{

    position:absolute;

    width:170px;
    height:170px;

    background:transparent;

    border-radius:25px;

    border:3px solid white;

    cursor:pointer;

    backdrop-filter:none;
    -webkit-backdrop-filter:none;

    transition:.35s;

}

/* Deportes */

.sports{

    left:8%;
    top:15%;

    border-color:#00eaff;

    box-shadow:
    0 0 10px #00eaff,
    0 0 25px #00eaff,
    0 0 45px #00eaff;

}

/* Artes */

.art{

    right:8%;
    top:15%;

    border-color:#ff00ff;

    box-shadow:
    0 0 10px #ff00ff,
    0 0 25px #ff00ff,
    0 0 45px #ff00ff;

}

/* Cine */

.cinema{

    left:7%;
    top:40%;

    border-color:#ff0134;

    box-shadow:
    0 0 10px #f90202,
    0 0 25px #ff0202,
    0 0 45px #f70303;

}

/* Tejido */

.fabric{

    right:7%;
    top:41%;

    border-color:#ff6b00;

    box-shadow:
    0 0 10px #ff6b00,
    0 0 25px #ff6b00,
    0 0 45px #ff6b00;

}

/* Idiomas */

.languages{

    left:7%;
    top:66%;

    border-color:#00ff88;

    box-shadow:
    0 0 10px #00ff88,
    0 0 25px #00ff88,
    0 0 45px #00ff88;

}

/* Robotica */

.robotics{

    right:7%;
    top:66%;

    border-color:#9b00ff;

    box-shadow:
    0 0 10px #9b00ff,
    0 0 25px #9b00ff,
    0 0 45px #9b00ff;

}

/*====================================================
HOVER
====================================================*/

.talentCard:hover{

    transform:scale(1.08);

}

.sports:hover{
    box-shadow:0 0 20px #00eaff,0 0 60px #00eaff;
}

.art:hover{
    box-shadow:0 0 20px #ff00ff,0 0 60px #ff00ff;
}

.cinema:hover{
    box-shadow:0 0 20px #c6bfd9,0 0 60px #c6bfd9;
}

.fabric:hover{
    box-shadow:0 0 20px #ff6b00,0 0 60px #ff6b00;
}

.languages:hover{
    box-shadow:0 0 20px #00ff88,0 0 60px #00ff88;
}

.robotics:hover{
    box-shadow:0 0 20px #9b00ff,0 0 60px #9b00ff;
}

/*====================================================
RESPONSIVE
====================================================*/

@media(max-width:768px){

    .talentCard{

        width:145px;
        height:145px;

    }

}
/*====================================================
SCENE 5 - CLUB DEPORTIVO
====================================================*/

#scene5{

    position:fixed;
    inset:0;

    width:100%;
    height:100vh;

    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:300;

}

/*====================================================
FONDO
====================================================*/

.scene5Background{

    position:absolute;
    inset:0;

    background-image:url("../assets/images/deportes/fondo.webp");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

}

/* Oscurece ligeramente el fondo */

#scene5::before{

    content:"";

    position:absolute;
    inset:0;

    background:rgba(0,0,0,.45);

    z-index:1;

}

/*====================================================
CONTENEDOR
====================================================*/

.sportsInvitation{

    position:relative;

    z-index:5;

    width:100%;
    max-width:850px;

    padding:45px;

    border-radius:30px;

    text-align:center;

    background:rgba(255, 255, 255, 0);

    border:2px solid rgba(255, 255, 255, 0);

    box-shadow:
    0 0 40px rgba(0, 175, 239, 0);

    animation:scene5Enter 1s ease;

}

/*====================================================
TITULO
====================================================*/

.sportsInvitation h1{

    font-family:'Bebas Neue';

    font-size:60px;

    letter-spacing:6px;

    color:white;

    text-shadow:
    0 0 20px cyan;

}

/*====================================================
LINEA
====================================================*/

.scene5Line{

    width:220px;
    height:0px;

    margin:0px auto 35px;

    background:#00AEEF;

    box-shadow:
    0 0 15px cyan;

}

/*====================================================
IMAGEN
====================================================*/

.scene5Image{

   width:300px;
   height:auto;

    margin-bottom:0px;

    filter:drop-shadow(0 0 30px rgba(255,255,255,.5));

    animation:floatImage 4s ease-in-out infinite;

}

/*====================================================
DESCRIPCION
====================================================*/

.scene5Description{

    max-width:650px;

    margin:auto;

    font-size:22px;

    line-height:1.7;

    color:#f1f1f1;

}

/*====================================================
BOTONES
====================================================*/

.scene5Buttons{

    margin-top:0px;

    display:flex;

    justify-content:center;

    gap:25px;

    flex-wrap:wrap;

}

.scene5Buttons button{

    width:240px;

    height:65px;

    border:none;

    border-radius:50px;

    cursor:pointer;

    font-size:20px;

    font-weight:800;

    color:white;

    transition:.35s;

}

/* INGRESAR */

#enterSportsButton{

    background:linear-gradient(90deg,#0099ff,#00eaff);

    box-shadow:
    0 0 25px cyan;

}

/* REGRESAR */

#backSportsButton{

    background:linear-gradient(90deg,#056df5,#7f01f5);

}

/* Hover */

.scene5Buttons button:hover{

    transform:translateY(-6px) scale(1.05);

}

/*====================================================
ANIMACIONES
====================================================*/

@keyframes scene5Enter{

    from{

        opacity:0;
        transform:scale(.85);

    }

    to{

        opacity:1;
        transform:scale(1);

    }

}

@keyframes floatImage{

    50%{

        transform:translateY(-10px);

    }

}

/*====================================================
RESPONSIVE
====================================================*/

@media(max-width:768px){

    .sportsInvitation{

        width:92%;

        padding:30px 20px;

    }

    .scene5Logo{

        width:80px;

    }

    .sportsInvitation h1{

        font-size:42px;

    }


    .scene5Description{

        font-size:18px;

    }

    .scene5Buttons button{

        width:210px;

        height:58px;

        font-size:18px;

    }

}
/*====================================================
SCENE 6 - CLUB DE ARTES
====================================================*/

#scene6{

    position:fixed;
    inset:0;

    width:100%;
    height:100vh;

    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:310;

}

/*====================================================
FONDO
====================================================*/

.scene6Background{

    position:absolute;
    inset:0;

    background-image:url("../assets/images/artes/fondo.webp");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

}

#scene6::before{

    content:"";

    position:absolute;
    inset:0;

    background:rgba(0,0,0,.45);

    z-index:1;

}

/*====================================================
CONTENEDOR
====================================================*/

.artInvitation{

    position:relative;

    z-index:5;

    width:100%;
    max-width:850px;

    padding:45px;

    border-radius:30px;

    text-align:center;

    background:rgba(255,255,255,0);

    border:2px solid rgba(255,255,255,0);

    box-shadow:none;

    animation:scene6Enter 1s ease;

}

/*====================================================
LINEA
====================================================*/

.scene6Line{

    width:220px;
    height:4px;

    margin:0 auto 35px;

    background:#ff00cc;

    box-shadow:
    0 0 20px #ff00cc;

}

/*====================================================
IMAGEN
====================================================*/

.scene6Image{

    width:300px;
    height:auto;

    display:block;

    margin-left:auto;
    margin-right:auto;
    margin-bottom:40px;

    filter:drop-shadow(0 0 35px rgba(255,255,255,.45));

    animation:floatArt 4s ease-in-out infinite;

}

/*====================================================
BOTONES
====================================================*/

.scene6Buttons{

    margin-top:20px;

    display:flex;

    justify-content:center;

    gap:25px;

}

.scene6Buttons button{

    width:260px;

    height:65px;

    border:none;

    border-radius:50px;

    cursor:pointer;

    font-size:22px;

    font-weight:800;

    color:white;

    transition:.35s;

}

#backArtButton{

    background:linear-gradient(90deg,#2d7dff,#8d00ff);

    box-shadow:
    0 0 25px #8d00ff;

}

.scene6Buttons button:hover{

    transform:translateY(-6px) scale(1.05);

}

/*====================================================
ANIMACIONES
====================================================*/

@keyframes scene6Enter{

    from{

        opacity:0;
        transform:scale(.85);

    }

    to{

        opacity:1;
        transform:scale(1);

    }

}

@keyframes floatArt{

    50%{

        transform:translateY(-10px);

    }

}

/*====================================================
RESPONSIVE
====================================================*/

@media(max-width:768px){

    .artInvitation{

        width:92%;

        padding:25px;

    }

    .scene6Image{

        width:300px;

    }

    .scene6Buttons button{

        width:240px;

        height:60px;

        font-size:20px;

    }

}
/*====================================================
SCENE 7 - CLUB DE CINE
====================================================*/

#scene7{

    position:fixed;
    inset:0;

    width:100%;
    height:100vh;

    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:320;

}

/*====================================================
FONDO
====================================================*/

.scene7Background{

    position:absolute;
    inset:0;

    background-image:url("../assets/images/cine/fondo.webp");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

}

#scene7::before{

    content:"";

    position:absolute;
    inset:0;

    background:rgba(0,0,0,.45);

    z-index:1;

}

/*====================================================
CONTENEDOR
====================================================*/

.cinemaInvitation{

    position:relative;

    z-index:5;

    width:100%;
    max-width:850px;

    padding:45px;

    border-radius:30px;

    text-align:center;

    background:transparent;

    animation:scene7Enter 1s ease;

}

/*====================================================
LINEA
====================================================*/

.scene7Line{

    width:220px;
    height:4px;

    margin:0 auto 35px;

    background:#ffd700;

    box-shadow:
    0 0 20px #ffd700;

}

/*====================================================
IMAGEN
====================================================*/

.scene7Image{

    width:300px;
    height:auto;

    display:block;

    margin:auto;
    margin-bottom:40px;

    filter:drop-shadow(0 0 35px rgba(255,255,255,.5));

    animation:floatCinema 4s ease-in-out infinite;

}

/*====================================================
BOTONES
====================================================*/

.scene7Buttons{

    margin-top:20px;

    display:flex;

    justify-content:center;

}

.scene7Buttons button{

    width:260px;
    height:65px;

    border:none;

    border-radius:50px;

    cursor:pointer;

    font-size:22px;

    font-weight:800;

    color:white;

    background:linear-gradient(90deg,#d9a400,#ffd700);

    box-shadow:
    0 0 25px #ffd700;

    transition:.35s;

}

.scene7Buttons button:hover{

    transform:translateY(-6px) scale(1.05);

}

/*====================================================
ANIMACIONES
====================================================*/

@keyframes scene7Enter{

    from{

        opacity:0;
        transform:scale(.85);

    }

    to{

        opacity:1;
        transform:scale(1);

    }

}

@keyframes floatCinema{

    50%{

        transform:translateY(-10px);

    }

}
/*====================================================
SCENE 8 - CLUB DE TEJIDO
====================================================*/

#scene8{

    position:fixed;
    inset:0;

    width:100%;
    height:100vh;

    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:330;

}

/*====================================================
FONDO
====================================================*/

.scene8Background{

    position:absolute;
    inset:0;

    background-image:url("../assets/images/tejido/fondo.webp");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

}

#scene8::before{

    content:"";

    position:absolute;
    inset:0;

    background:rgba(0,0,0,.45);

    z-index:1;

}

/*====================================================
CONTENEDOR
====================================================*/

.fabricInvitation{

    position:relative;

    z-index:5;

    width:100%;
    max-width:850px;

    padding:45px;

    border-radius:30px;

    text-align:center;

    background:transparent;

    animation:scene8Enter 1s ease;

}

/*====================================================
LÍNEA
====================================================*/

.scene8Line{

    width:220px;
    height:4px;

    margin:0 auto 35px;

    background:#ff7a00;

    box-shadow:
    0 0 20px #ff7a00;

}

/*====================================================
IMAGEN
====================================================*/

.scene8Image{

    width:300px;
    height:auto;

    display:block;

    margin:auto;
    margin-bottom:40px;

    filter:drop-shadow(0 0 35px rgba(255,255,255,.5));

    animation:floatFabric 4s ease-in-out infinite;

}

/*====================================================
BOTONES
====================================================*/

.scene8Buttons{

    margin-top:20px;

    display:flex;

    justify-content:center;

}

.scene8Buttons button{

    width:260px;
    height:65px;

    border:none;

    border-radius:50px;

    cursor:pointer;

    font-size:22px;

    font-weight:800;

    color:white;

    background:linear-gradient(90deg,#ff6b00,#ff9900);

    box-shadow:
    0 0 25px #ff7a00;

    transition:.35s;

}

.scene8Buttons button:hover{

    transform:translateY(-6px) scale(1.05);

}

/*====================================================
ANIMACIONES
====================================================*/

@keyframes scene8Enter{

    from{

        opacity:0;
        transform:scale(.85);

    }

    to{

        opacity:1;
        transform:scale(1);

    }

}

@keyframes floatFabric{

    50%{

        transform:translateY(-10px);

    }

}
/*====================================================
SCENE 9 - CLUB DE IDIOMAS
====================================================*/

#scene9{

    position:fixed;

    inset:0;

    width:100%;

    height:100vh;

    overflow:hidden;

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:340;

}

/*====================================================
FONDO
====================================================*/

.scene9Background{

    position:absolute;

    inset:0;

    background-image:url("../assets/images/idiomas/fondo.webp");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

}

#scene9::before{

    content:"";

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.45);

    z-index:1;

}

/*====================================================
CONTENEDOR
====================================================*/

.languagesInvitation{

    position:relative;

    z-index:5;

    width:100%;

    max-width:850px;

    padding:45px;

    text-align:center;

    background:transparent;

    animation:scene9Enter 1s ease;

}

/*====================================================
LÍNEA
====================================================*/

.scene9Line{

    width:220px;

    height:4px;

    margin:0 auto 35px;

    background:#00ff88;

    box-shadow:0 0 20px #00ff88;

}

/*====================================================
IMAGEN
====================================================*/

.scene9Image{

    width:300px;

    height:auto;

    display:block;

    margin:auto;

    margin-bottom:40px;

    filter:drop-shadow(0 0 35px rgba(255,255,255,.5));

    animation:floatLanguages 4s ease-in-out infinite;

}

/*====================================================
BOTÓN
====================================================*/

.scene9Buttons{

    display:flex;

    justify-content:center;

    margin-top:20px;

}

.scene9Buttons button{

    width:260px;

    height:65px;

    border:none;

    border-radius:50px;

    cursor:pointer;

    color:white;

    font-size:22px;

    font-weight:800;

    background:linear-gradient(90deg,#00b96b,#00ff88);

    box-shadow:0 0 25px #00ff88;

    transition:.35s;

}

.scene9Buttons button:hover{

    transform:translateY(-6px) scale(1.05);

}

/*====================================================
ANIMACIONES
====================================================*/

@keyframes scene9Enter{

    from{

        opacity:0;

        transform:scale(.85);

    }

    to{

        opacity:1;

        transform:scale(1);

    }

}

@keyframes floatLanguages{

    50%{

        transform:translateY(-10px);

    }

}
/*====================================================
SCENE 10 - ROBÓTICA
====================================================*/

#scene10{

    position:fixed;

    inset:0;

    z-index:300;

    display:flex;

    justify-content:center;

    align-items:center;

    overflow:hidden;

}

/*=========================================
FONDO
=========================================*/

.scene10Background{

    position:absolute;

    inset:0;

    background-image:url("../assets/images/fondo_robotica.webp");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    z-index:1;

}

/*=========================================
CONTENEDOR
=========================================*/

.roboticsInvitation{

    position:relative;

    z-index:5;

    width:100%;

    max-width:850px;

    padding:45px;

    text-align:center;

    background:transparent;

    animation:scene10Enter .8s ease;

}

/*=========================================
IMAGEN
=========================================*/

.scene10Image{

    display:block;

    width:450px;

    height:auto;

    margin:0 auto 40px;

    filter:drop-shadow(0 0 30px rgba(255,255,255,.5));

    animation:floatRobot 4s ease-in-out infinite;

}

/*=========================================
BOTÓN
=========================================*/

.scene10Buttons{

    margin-top:-15px;

}

#backRoboticsButton{

    width:260px;

    height:65px;

    border:none;

    border-radius:50px;

    cursor:pointer;

    font-size:22px;

    font-weight:800;

    color:white;

    background:linear-gradient(90deg,#7b2cff,#00d4ff);

    box-shadow:0 0 25px rgba(123,44,255,.8);

    transition:.3s;

}

#backRoboticsButton:hover{

    transform:scale(1.05);

    box-shadow:
    0 0 20px #7b2cff,
    0 0 45px #00d4ff;

}

/*=========================================
ANIMACIONES
=========================================*/

@keyframes scene10Enter{

    from{

        opacity:0;

        transform:scale(.85);

    }

    to{

        opacity:1;

        transform:scale(1);

    }

}

@keyframes floatRobot{

    0%{

        transform:translateY(0px);

    }

    50%{

        transform:translateY(-15px);

    }

    100%{

        transform:translateY(0px);

    }

}

/*=========================================
RESPONSIVE
=========================================*/

@media(max-width:768px){

    .roboticsInvitation{

        padding:20px;

    }

    .scene10Image{

        width:300px;

    }

    #backRoboticsButton{

        width:220px;

        height:55px;

        font-size:18px;

    }

}
